:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	background-color: #091525;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
	body {
		background: #121121;
		color: #fff;
	}
}
@media (prefers-color-scheme: light) {
	body {
		background: #fff;
		color: #000;
	}
} */
